name: Check links

on:
  pull_request:
    branches:
      - '**'
    types: [ opened, synchronize, reopened ]

jobs:
  check-links:
    runs-on: ubuntu-latest
    name: Check links in markdown files
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@1ef33e2493308e49729a7789ddd73e7f8bed8f45
        with:
          args: --base . --verbose --no-progress --timeout 30 './**/*.md'
          format: markdown
          output: ./lychee-results.md
          token: ${{ secrets.TOKEN }}
          fail: true

      - name: Upload Results
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: lychee-results
          path: ./lychee-results.md
